#name{
    width: 12%;
}

#des{
    width: 38%;
}
.reduce{
    height: 60px;
    overflow: hidden;
}
.table td{
    color: white;
}
.cs{
    color:red;
     background-color:green;
      width:100px;
       height:100px;
       text-align: center;
}